.darkmode .post__card,
.darkmode .posts__category {
    background-color: var(--dark-accent);
}

/* Blog section  */
.blog {
    display: grid;
    place-items: center;
    place-content: center;
    gap: var(--clamp-2-base);
}

.posts__resent {
    padding-top: 0;
}

.posts__resent>*:not(:last-child) {
    margin-bottom: var(--clamp-5-base);
}

.posts__wrapper {
    display: flex;
    gap: var(--clamp-3-base);
}

.posts__content {
    flex: 3;
    display: grid;
    gap: var(--clamp-5-base);
}

.posts__category {
    width: 18.75rem;
    height: fit-content;
    background-color: var(--light-base);
    border-radius: var(--size-x-small);
    padding: 1em;
    text-align: center;
    display: grid;
    place-items: center;
    gap: var(--clamp-2-base);
    position: sticky;
    top: var(--clamp-7-base);
    z-index: 1;
}

.posts__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--clamp-5-base) var(--clamp-2-l);
}

/* Post List Card Home section */
.posts__list-home {
    justify-content: center;
    gap: var(--clamp-5-base);
}

.posts__list-home .post__card {
    width: clamp(16.875rem, 15.089rem + 8.929vw, 23.125rem);
}

/* Blog Post Card section  */
.post__card {
    width: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--clamp-small-l);
    align-self: stretch;
    background-color: var(--light-base);
    border-radius: var(--size-x-small);
    padding: 1em;
    box-shadow: var(--boxShadow);
}

.post__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--clamp-base) var(--clamp-small-base);
}

.tag {
    font-size: var(--size-base-xs);
    font-weight: var(--fw-normal);
    text-transform: capitalize;
    color: var(--light-base);
    background-color: var(--blue-950);
}

.post__img {
    aspect-ratio: 16/12;
}

.post__detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.post__author {
    text-transform: capitalize;
}

.post__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.post__btn {
    margin-top: var(--size-x-small);
}

/* 768px */
@media (max-width: 48em) {
    .posts__wrapper {
        flex-direction: column;
        gap: var(--clamp-5-base);
    }

    .posts__list {
        justify-content: center;
    }

    .posts__category {
        width: 100%;
    }
}

/* 425px */
@media (max-width: 26.563em) {

    .post__card,
    .posts__list-home .post__card {
        width: 100%;
    }
}