---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import "../../styles/blog.css";
export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true }),
  );

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<MainLayout>
  <section aria-labelledby="titleTags">
    <div class="wrapper-contents tags">
      <div class="post__back-btn">
        <a href="/blog/" class="btn"
          ><span class="icon">&#8656;</span>Back to blog
        </a>
      </div>
      <h2 id="titleTags">Posts tagged with {tag}</h2>
      <ul class="tags__list">
        {
          posts.map((post: any) => (
            <BlogPostCard frontmatter={post.frontmatter} url={post.url} />
          ))
        }
      </ul>
    </div>
  </section>
</MainLayout>

<style>
  .tags {
    display: grid;
    place-items: center;
    gap: var(--clamp-5-base);
  }
  .post__back-btn {
    justify-self: start;
  }

  .post__back-btn .icon {
    font-size: var(--clamp-2-base);
    line-height: normal;
    margin-right: var(--clamp-x-small);
  }

  .tags__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--clamp-5-base) var(--clamp-3-base);
  }
</style>
